*{margin: 0px;
padding: 0;
box-sizing: border-box;
font-family: 'Assistant', sans-serif;
}
.main-body{
    overflow-x: hidden;
}
.main-header{
    background-color :rgb(20, 148, 92);
    min-height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:7px 0 0 0;

}
.ahead{
    font-size: 7px;
    text-decoration: none;
    /* padding: 590px; */
    color: white;

}
.ahead :hover{
    text-decoration: underline;
   
}
.fontfamily{
    font-weight: normal;
}
.nav-div{
    padding-left: 45px;
    padding-right: 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* justify-content: space-around; */
    max-height: 190px;
 }
 .nav-div-fist{
    display: flex;
    gap: 30px;
    align-items: center;
 }
 .menu-list a:hover{
    text-decoration: underline;
    color: black;

 }

 /*first dropdown menu*/
.navigation-menu-show{
    display: none;
    display: flex;
    position: absolute;
    background-color: white;
    width: 100%;
    height: 340px;
    /* display: none; */
}
.navigation-menu-show-first{
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 50px;
}
.navigation-menu-show-first h4{
    padding: 10px;
    color: rgb(78, 77, 77);
}
.navigation-menu-show-first li{
    list-style-type: none;
    padding: 6px;
    font-size: 14px;
}
.navigation-menu-show-first a{
    color: rgb(108, 105, 105);
    text-decoration: none;
}
.navigation-menu-show-first a:hover{
    text-decoration: underline;
}

/*second dropdown menu*/
.navigation-menu-show2{
    display: none;
    display: flex;
    position: absolute;
    background-color: white;
    width: 100%;
    height: 340px;
    /* display: none; */
}
.navigation-menu-show-second{
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 50px;
}
.navigation-menu-show-second h4{
    padding: 10px;
    color: rgb(78, 77, 77);
}
.navigation-menu-show-second li{
    list-style-type: none;
    padding: 6px;
    font-size: 14px;
}
.navigation-menu-show-second a{
    color: rgb(108, 105, 105);
    text-decoration: none;
}
.navigation-menu-show-second a:hover{
    text-decoration: underline;
}

/*third dropdown menu*/
.navigation-menu-show3{
    display: none;
    display: flex;
    position: absolute;
    background-color: white;
    width: 100%;
    height: 340px;
    /* display: none; */
}
.navigation-menu-show-third{
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 50px;
}
.navigation-menu-show-third h4{
    padding: 10px;
    color: rgb(78, 77, 77);
}
.navigation-menu-show-third li{
    list-style-type: none;
    padding: 6px;
    font-size: 14px;
}
.navigation-menu-show-third a{
    color: rgb(108, 105, 105);
    text-decoration: none;
}
.navigation-menu-show-third a:hover{
    text-decoration: underline;
}

/*fourth dropdown menu*/
.navigation-menu-show4{
    display: none;
    display: flex;
    position: absolute;
    background-color: white;
    width: 100%;
    height: 340px;
    
}
.navigation-menu-show-fourth{
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 50px;
}
.navigation-menu-show-fourth h4{
    padding: 10px;
    color: rgb(78, 77, 77);
}
.navigation-menu-show-fourth li{
    list-style-type: none;
    padding: 6px;
    font-size: 14px;
}
.navigation-menu-show-fourth a{
    color: rgb(108, 105, 105);
    text-decoration: none;
}
.navigation-menu-show-fourth a:hover{
    text-decoration: underline;
}



 .imgg{
    width: 110px;
    display: flex;
    justify-content: center;

 }
 .imgtag{
    /* width: 110px; */
    width: 100%;
    /* margin-left: 45px; */
 }
 .nav-div li{
    list-style: none;
    display: inline-block;
}

.nav-div li a{
    color: grey;
    text-decoration: none;
    padding:18px;
    font-size: 15px;      
}
.searchicon{
    cursor: pointer;
    display: flex;
    gap: 28px;
    /* justify-content: center; */
    /* margin-left: 500px; */
    /* padding: 50px; */
    
}
.menu-icon{
    display: none;
}
.menu-item-view{
    display: none;

}
.bfirst{
    display: flex;
    /* justify-content: space-evenly; */
    height: 570px;
}
.part1{
    display: flex;
    justify-content: space-evenly;
    background-image: url(cream-bg.jpg);
    /* float: left;*/
    /* width: 50%; */
    /* height: 570px; */ 
    align-items: center;
}
.image{
    width: 100%;
    height: 570px;
}
.part11{
    /* background-color: yellow; */
    padding: 90px;  
    font-weight: normal;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items:flex-start */
    /* margin-left: 92px; */
    /* margin-top: 200px; */
}
.part11 h1{
    padding-bottom: 19px;
    font-size: 43px;
    font-weight: normal;
    color: rgb(50, 50, 50);
}
.part11 p{
    padding-bottom: 16px;
    color: gray;
}
.btn{
    cursor: pointer;
    background-color: rgb(52, 158, 89);
    padding: 15px 36px;
    border: none;
    color: white;
}
.bdyhead2{
    /* margin-top: 650px;  */
    /* margin-left: 40px; */
    color:rgb(72, 71, 71); 
}
.prdctimg{
    transition: .4s;
    width: 100%;
    height: 280px;
    /* padding: 20px; */
}
.prdctimg:hover{
    transform: scale(1.02);
}
.product{
    padding: 5px;
}
.product a{
    text-decoration: none;
    color: black;
}
.prdct-list{
    display: flex;
    justify-content: space-between;
    padding: 17px;

    /* justify-content: center; */
    /* justify-content: space-around; */
    /* overflow-x: auto; */
    /* margin: 30px; */  
}
.prdct-list-screen990{
    display: none;
}

.bdyhead2 h2{
    font-weight: normal;
}
.pbtn-div{
    display: flex;
    justify-content: center;
    align-items: center;

}
.pbtn{
    cursor: pointer;
    background-color: rgb(43, 136, 92);
    padding: 16px 27px;
    border: none;
    color: white;
    /* margin-left: 650px; */
}
.bfooter{
    background-color:rgb(173, 200, 181);
    /* height: 140px; */
    margin-top: 40px;
    width: 100%;

}
.bfooter-screen990{
    display: none;
}
.bfooter h3{
    padding: 20px;
    color: white;
    font-size: 24px;
    align-items: center;
    /* padding-top: 19px; */
    font-weight: normal;
    display: flex;
    justify-content: center;
    
}
.flogos{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    justify-content: space-around;
}
.fimg{
    width: 100%;
    height: 70px;
    background-color:rgb(173, 200, 181);
}


/* .slick-dots{
    position: absolute;
    padding-top: -10px;
} */
.bsecond{
    /* padding-top: 80px; */
    padding: 48px;
}
.second-product-collection{
    /* overflow-x: hidden; */
    display: flex;
    gap: 20px;
    justify-content:space-between;
}
.second-prdctimg{
    width: 100%;      
}
.second-prdctimg:hover{
    transform: scale(1.02);
}
.bthird {
    padding: 45px;
}
.bthird h3{
    display: flex;
    align-items: center;
    height: 70px;
    font-size: 25px;
    font-weight: normal;
    color: rgb(9, 9, 9);
    /* margin-top: 90px; */
    /* padding-top: 39px; */
    /* padding-left: 12px; */
}
.second-product-list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
}
.second-product-listp1{
    font-size: 13px;
    padding: 6px;
    
}
.second-product-listp1:hover{
    text-decoration: underline;
}
.second-product-listp2{
    padding: 6px;
    color: gray;
    font-size: 12px;
}
.second-product-listp3{
    padding: 6px;

}
.sbtn{
    width: 100%;
    cursor: pointer;
    background-color: white;
    border: 1px solid green;
    color: rgb(67, 169, 67);
    padding: 15px;
    font-size: 15px;
}



.bfourth{
    /* margin-top: 50px; */
    height: 580px;
    display: flex;
    justify-content: space-evenly;
    gap: 40px;
    /* padding: 15px; */
}
.bfourth-left-part{
    padding-left:46px ;
}
.bfourth-left-part-img{
    width: 100%; 
    height: 580px;
}
.bfourth-right-part-content{
    padding-left: 20px;
}

.bfourth-right-part-content p{
    color: gray;
    font-size: 14px;
    line-height: 1.9;

}
.bfourth-right-part-content li{
    color: gray;
    padding: 6px;
    font-size: 14px;
}
.bfourth-right-part-content h1{
    font-weight: normal;
    font-size: 40px;

}
.bfourth-right-part-content-btn{
    cursor: pointer;
    color: green;
    padding: 17px;
    margin: 12px;
    background-color: white;
    border:1px solid green;
}
.bfifth-part1-vedio h2{
    font-size: 26px;
    color:rgb(18, 17, 17);
    font-weight: normal;
    padding: 30px;
}
/* .bfifth{
    height: 1000px;
    
} */
.bfifth-part2-logos{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: rgb(231, 230, 230);
    /* height: 200px; */
}
.bfifth-part2-logos-parent-screen990{
    display: none;
}
.bfifth-part2-logos h2{
    font-size: 26px;
    color:rgb(81, 78, 78);
    font-weight: normal;
    padding: 10px;
    text-align: center;
    padding-top: 10px;
}
.bfifth-part2-logos-parent{
    display: flex;
    justify-content: center;
    /* gap: 40px; */
    /* justify-content: space-around; */
}
.bfifth-part2-logos-img{
    width: 100%;
    /* height: 120px; */
}


.bsixth-screen990{
    display: none;
}
.bsixth{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}
.bsixth-left-part{
    display: flex;
    justify-content: center;
    width: 50%;
    height: 500px;
}
.bsixth-right-part{
    padding:50px ;
    width: 50%;
    height: 500px;
}
.bsixth-right-part-img{
     width: 100%;
     height: 400px;
    /* position: absolute; */
    
}
.sixth-left-part-content{
    gap: 24px;
    padding: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    /* margin: 70px; */
    /* width: 720px; */
    
    /* padding: 60px; */
    /* margin: 60px; */
}
.sixth-left-part-content h1{
    font-weight: normal;
    font-size: 40px;
}
.sixth-left-part-content p{
    color: gray;
    font-size: 17px;
    line-height: 1.6;
}
.bsixth-left-part-btn{
    cursor: pointer;
    color: white;
    background-color: rgb(31, 144, 99);
    padding: 13px 27px;
    border: none;
}



.bseventh{
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.bseventh-parent{
    display: flex;
    justify-content: space-between;
}
.bseventh h2{
    font-weight: normal;
    font-size: 40px;   
}

.bseventh-img{
    width: 100%;
}
.bseventh-btn{
    cursor: pointer;
    color: white;
    background-color: rgb(31, 144, 99);
    padding: 16px 27px;
    border: none;
}
.bseventh-btn-div{
    display: flex;
    justify-content: center;
}



.beigth{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.beigth h2{
    font-weight: normal;
    font-size: 24px;
    color: rgb(61, 60, 60);
    text-align: center;
    padding: 26px;

}
.beigth-body{
    display: flex;
    justify-content: space-evenly;
}
.beigth-left-part{
    padding: 50px;
    width: 50%;
}
.beigth-left-part img{
    width: 100%;
    height: 700px;
}
.beigth-right-part{
    display: flex;
    /* align-items: center; */
    width: 50%;
}
.beigth-right-part-content{
    display: flex;
    flex-direction: column;
    gap:20px;
    /* justify-content: space-evenly; */
    /* padding-left: 38px; */
    padding: 70px;
}
.beigth-right-part-content h3{
    font-weight: normal;
    font-size: 26px;
}
.beigth-right-part-content-p-ul {
    color: rgb(105, 104, 104);
    line-height: 2;
    font-size: 15px;
}
.beigth-right-part-content-btn{
    cursor: pointer;
    color: white;
    background-color: rgb(31, 144, 99);
    padding: 16px 27px;
    border: none;
    /* margin-top: 19px; */
}
.beigth-right-part-content a{
    color: rgb(13, 177, 103);
}
.beigth-right-part-content a:hover{
    text-decoration-thickness: 2px;
}


.bninth{
    /* margin-top: 10px; */
    display: flex;
    flex-direction: column;
    padding: 33px;
    /* justify-content: space-between; */
    /* justify-content: space-around; */
}
.bninth h2{
    font-size: 25px;
    font-weight: normal;
    color: rgb(76, 75, 75);
    /* margin-top: 90px; */
    /* margin-left: 19px; */
}
.bninth-parent{
    display: flex;
    justify-content: space-between;
    justify-content: space-around;
}
.bninth-parent-div{
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap:20px;
    /* justify-content: space-between; */
    /* height: 460px; */

}
.bninth-parent-img{
    width: 100%;
    height: 280px;
    transition: .3s;
}
.bninth-parent-img:hover{
    transform: scale(1.02);

}
.bninth-parent-div h2{
    margin-top: 14px;
    color: black;
    
}
.bninth-parent-div-p1{
    font-size: 10px;
    color:black;
    /* margin-left: 20px; */
    
}
.bninth-parent-div-p2{
    font-size: 15px;
    color: rgb(92, 88, 88);
    /* margin-left: 20px; */
    
    line-height: 1.6;
}
.bninth-btn-div{
    display: flex;
    justify-content: center;
}
.bninth-btn{
    cursor: pointer;
    color: white;
    background-color: rgb(31, 144, 99);
    padding: 16px 27px;
    border: none;
    /* margin-top: 19px; */
    /* margin-left: 700px; */

}
.bninth-parent-screen990{
    display: none;
}



.bfinal-part1{
    margin-top: 20px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* justify-content: space-evenly; */
}
.bfinal-part1-div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 18px;
    
}
.bfinal-part1-parent{
    display: flex;
    justify-content: space-around;
    /* justify-content: space-between; */
}
.bfinal{
    /* margin-top: 29px; */
    /* padding-top: 60px; */
    background-color: rgb(243, 236, 243);
    /* height:600px; */
}
.bfinal-part1-div h3{

    
    font-weight: normal;
    color: rgb(65, 64, 64);
}
.bfinal-part1-div li{
    
    font-size: 14px;
    color: rgb(152, 152, 152);
    line-height: 2.9;
    list-style-type: none;
}
.bfinal-part1-div li a{
    color: rgb(80, 78, 78);
    text-decoration: none;
}
.bfinal-part1-div li a:hover{
    text-decoration: underline;
    text-decoration-thickness: 1px;
    color: black;
}
.bfinal-part1-logoicon{
    /* padding: 20px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-between;

}
.bfinal-part1-logoicon li{
    list-style-type: none;
    display: inline-block;
    padding: 8px;
}
.bfinal-part1{
    border-bottom: 1px solid rgb(211, 206, 206);
    /* height: 150px; */
}
.bfinal-part2{
    height: 160px;
    padding: 13px;
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    /* align-items:flex-start; */
    /* padding: 50px; */
    /* height: 60px;    */
}
.bfinal-part2-btn{
    cursor: pointer;
    padding: 13px 10px;
    
    font-size: 12px;
    color: rgb(49, 48, 48);
}
.bfinal-part2 p{
    
    font-size: 13px;
    color: rgb(152, 152, 152);

}

.bfinal-part2-footer{
    padding: 20px;
    display: flex;
    justify-content: left;
}
.bfinal-part2-footer p{
    
    font-size: 12px;
}
.bfinal-part2-footer li{
    list-style-type: none;
    display: inline-block;
    
    font-size: 10px;
    color:rgb(152, 152, 152) ;

}
.bfinal-part2-footer li a{
    text-decoration: none;
    color: rgb(152, 152, 152);
    font-size: 12px;
    
    padding: 16px;
}
.bfinal-part2-footer li a:hover{
    text-decoration: underline;
    color: rgb(5, 5, 5);
}
.bfinal-part2-ul{
    list-style-type: none;
}
.bfinal-part2-li{
    padding: 10px;
    color: rgb(133, 133, 133);

}
.dropdown-toggle{
    border:1px solid black;
    background: none;
    color: black;
}
.dropdown-item{
    color: rgb(137, 135, 135);
    text-decoration: none;
    font-size: 14px;
}
.dropdown-menu li{
    list-style-type: none;
    padding: 5px;  
}
.dropdown-menu-div{
    padding: 10px;
    margin-top: 10px;
    width: 197px;
    border: 1px solid rgb(106, 104, 104);
}



/*this style section on collection page*/
.collection-items{
    /* position:absolute; */
    display: flex;
    flex-direction: column;
}
.items-items{
    width: 350px;
    /* height: 300px; */
}
.items-items a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.collection-img{
    width: 100%;
    height: 330px;
    padding: 10px;
}
.collection-items-row{
    padding: 16px;
    display: flex;
    justify-content: space-between;
}
.collection-items h1{
    font-weight: normal;
    
    padding: 10px;
    /* font-size: 39px; */
}
.collection-img:hover{
    transform: scale(1.02);
}

.login{
    display: none;
} 


@media(max-width:1024px) {
    .main-header{
        background-color :rgb(20, 148, 92);
        /* height: 37px; */
        width: 100%;
        display: flex;
        align-items: center;
        border-radius: 7px 0 0 0;
        justify-content: center;
    }
    .nav-div{
        width: 100%;
        display: flex;
        /* align-items: center; */
        /* justify-content:center; */
        justify-content:space-around;
        justify-content: space-between;
        /* max-height: 130px; */
    }
    .nav-div-fist{
        justify-content: center;

    }
    .menu-icon{
        display: block;
    }
    .menu-list{                          /*hide that ul list*/
        display: none;
    }
    
    .menu-item-list{
        
        font-size: 17px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        border: none;
        background:none;
        padding: 14px;
    }
    .menu-item-view{
        left: -400PX;
        background-color: white;
        position: absolute;
        z-index: 1;
        width: 400px;
        height: 500px;
        display: block;
        /* display: flex; */
        /* flex-direction: row; */
    }
    .bfinal-part1-logoicon{
        margin-top: 50px;

    }
    .imgg{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .prdct-list{
        display: flex;
        justify-content: space-between;
        /* justify-content: space-around; */
        justify-content: center;
        /* flex-wrap: wrap; */
        overflow-x: auto;
        /* margin: 30px; */
    }
    .pbtn{
        background-color: rgb(87, 166, 129);
        padding: 10px 20px;
        border: none;
        
        color: white;
        /* margin-left: 650px; */
    }
    .sbtn{
        background-color: white;
        border: 1px solid green;
        color: rgb(15, 15, 15);
        padding-left:50px;
        padding-right: 50px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .bfourth{
        display: flex;
        justify-content: space-evenly;
        gap:40px;
    }
    .bfourth-left-part-img{
        width: 100%; 
        height: 600px;
    }
    .bfifth{
        margin-top: 80px;

    }
    .collection-img{
        width: 100%;
        height: 250px;
    }
}


@media(max-width:769px){
    .slick-track{
        width: 100%;

        /* overfow-x: hidden; */
    } 
    .searchicon{
        cursor: pointer;
        display: flex;
        gap: 7px;
    }
    .prdct-list-screen990{
        display: flex;
        /* padding: 19px; */
        justify-content: space-between;
        display: block;
    }
    .prdct-list{
        display: none;
    }
    .bfooter{
        display:none;
    }
    .bfooter-screen990{
        background-color:rgb(173, 200, 181);
        /* height: 170px; */
        width: 100%;
        display:block;
    }
    .flogos-screen990{
        display: flex;
        justify-content: center;
    }
    .bfooter-screen990-h3{
        
        margin-top: 10px;
        border-bottom: 1.5px solid white;
        color: rgb(250, 249, 249);
        /* font-size: 20px; */
        align-items: center;
        /* padding-top: 20px; */
        
        font-weight: normal;
        display: flex;
        justify-content: center;
        
    }
    .bthird-head{
        margin-top: 70px;
    
    }
    .bfifth-part1-vedio-screen990{
        width: 100%;
        height: 400px;
    }
    .bfifth{
        margin-top: 60px;
        /* height: 780px;   */
        
    }
    .bfifth-part2-logos-parent{
        display: none;

    }
    .bfifth-part2-logos-parent-screen990{
        display:block;
    }
    .sixth-left-part-content{  
        padding: 40px; 
        display: flex;
        flex-direction: column;
        /* justify-content: space-evenly; */
        /* align-items: center; */
        /* margin: 70px; */
    }
    .sixth-left-part-content h1{
        font-weight: normal;
        
        font-size: 30px;
    }
    .sixth-left-part-content p{
        color: gray;
        font-size: 14px;
        line-height: 1.6;
        
    }
    .bsixth-left-part-btn{
        color: white;
        background-color: rgb(31, 144, 99);
        padding: 11px 20px;
        border: none;
    }
    .bsixth-left-part{
        width: 550px;
        /* height: 500px; */
    }
    .bsixth-right-part{
        width: 100%;
        /* position: relative; */
        /* height: 500px; */
    }
    .bseventh-parent{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .beigth-left-part{
        /* padding: 70px; */
        width: 50%;
    }
    .beigth-left-part img{
        width: 100%;
        height: 900px;
    }
    .beigth-right-part-content{
        display: flex;
        flex-direction: column;
        /* justify-content: space-evenly; */
        /* padding-left: 38px; */
    }
    .bfinal-part2-footer li a{
        text-decoration: none;
        color: rgb(152, 152, 152);
        font-size: 10px;
        
        padding: 6px;
    }
    .bninth-parent-screen990{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .bninth-parent-div-screen990{
        display: flex;
        justify-content: center;
        /* justify-content: space-between; */
        display: block;
        padding: 6px;
    }
    .bninth-parent{
        display: none;
    }   
    .bninth-parent-img{
        width: 100%;
        height: 250px;
        /* transition: .3s; */
    }
    .bninth-parent-img:hover{
        transform: scale(1.02);
    
    }
}
@media(max-width:426px){
    /* .second-product-collection{
        overflow-x: hidden;
    } */
    .bi-person{
        display: none;
    }
    .login{
        padding: 20px;
        display: block;
        display: flex;
        gap: 15px;
        align-items: center;
    }
    .searchicon{
    gap: 10px;

    }
    .nav-div-fist{
        gap: 0px;
    
     }
    .bfirst{
        display: flex;
        flex-direction: column;
        /* justify-content: space-evenly; */
        /* height: 570px; */
    }
    .part1{
        height: 250px;
    }
    .part11 h1{
        text-align: center;
        font-size: 24px;
        padding-left: 16px;
        padding-right: 20px;
    }
    
    .part11 p{
        color: gray;
        font-size: 12px;
        text-align: center;
    }
    .part11{
        padding: 30px;
        align-items: center;
    }
    .btn{
        background-color: rgb(51, 144, 100);
        padding: 5px 13px;
        border: none;  
        color: white;   
        align-items: center;  
    }
    .bsecond{
        /* padding-top: 80px; */
        padding: 20px;
    }
    .image{
        width: 100%;
        height: 320px;
    }
    .bdyhead2{
        font-size:11px;
    }
    .product p{
        font-size:14px ;
    }
    .prdctimg{
        height: 200px;

    }
    .prdctimg:hover{
        transform: scale(1.02);
    }
    .bfooter-screen990-h3{
        /* margin-top: 20px; */
        border-bottom: 0px solid white;
    }
    .bthird {
        padding: 25px;
    }
    .bthird-head{
        margin-top: 0px;
    
    }
    .bthird h3{
        padding: 10px;
        display: flex;
        /* align-items: center; */
        height: 10px;
        font-size: 15px;
        font-weight: normal;
        
        color: gray;
    }
    .bfourth{
        /* margin-top: 50px; */
        height: 780px;
        display: flex;
        flex-direction: column;
        /* justify-content: space-evenly; */
        /* gap: 40px; */
        /* padding: 15px; */
    }
    .bfourth-left-part{
        padding-left:13px ;
        padding-right: 13px;
    }
    .bfourth-left-part-img{
        width: 100%; 
        height: 280px;
    }
    .bfourth-right-part-content li{
        color: gray;
        
        /* padding: 6px; */
        font-size: 11px;
    }
    .bfourth-right-part-content h1{
        font-weight: normal;
        font-size: 30px;
        
    
    }
    .bfourth-right-part-content-btn{
        color: green;
        
        padding: 9px;
        /* margin: 8px; */
        background-color: white;
        border:1px solid green;
    }
    .bfourth{
        /* margin-top: 50px; */
        /* height: 580px; */
        display: flex;
        justify-content: space-evenly;
        gap: 10px;
        /* padding: 15px; */
    }
    .bfifth-part1-vedio-screen990{
        width: 100%;
        height: 250px;
    }
    .bfifth{
        margin-top: 10px;
        height: 550px; 
        
    }
    .bsixth{
        display: none;
    }
    .bsixth-screen990{
        display: block;
    }
    .bsixth-right-part-screen990{
        padding: 23px;
    }
    .bsixth-right-part-img-screen990{
        width: 100%;
    }
    .sixth-left-part-content-screen990{
        display: flex;
        flex-direction: column;
        gap:30px;
        padding:30px;
    }
    .sixth-left-part-content-screen990 h1{
        font-weight: normal;  
        font-size: 30px;
    }
    
    .sixth-left-part-content-screen990 p{
        color: gray;
        font-size: 17px;
        line-height: 1.6;
    }

    .bsixth-left-part-btn-screen990{
        color: white;
        background-color: rgb(32, 131, 91);
        padding: 7px 15px;
        border: none;
    }
    .bseventh{
        padding: 4px;
    }
    .bseventh h2{
        font-weight: normal;
        
        font-size: 28px;   
    }
    .beigth-body{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .beigth-left-part{
        width: 100%;
    }
    .beigth-left-part img{
        width: 100%;
        height: 400px;
    }
    .beigth-right-part-content{
        display: flex;
        flex-direction: column;
    }
    .beigth-right-part{
        width: 100%;
    }
    .beigth-right-part-content{
        padding: 50px;
        width: 100%;

    }
    .beigth-right-part-content h3{
        font-weight: normal;
        font-size: 20px;
        
    }
    .beigth-right-part-content-btn{
    
        color: white;
        background-color: rgb(31, 144, 99);
        padding: 10px 20px;
        border: none;
        /* margin-top: 19px; */
    }
    .bninth-parent-div h2{
        margin-top: 14px;
        color: black;
        
    }
    .bfinal-part1-parent{
        display: flex;
        flex-direction: column;
        /* justify-content: space-around; */
        /* justify-content: space-between; */
    }
    .bfinal{
        margin-top: 10px;
        padding-top: 14px;
        background-color: rgb(243, 236, 243);
        /* height:700px; */
    }
    .bfinal-part1-div h3{
        padding-top: 19px;
        /* margin-left: 40px; */
        font-size: 14px;
        
        font-weight: normal;
        color: rgb(65, 64, 64);
    }
    .bfinal-part1-div li a{
        color: rgb(80, 78, 78);
        text-decoration: none;
        font-size: 12px;
    }
    .bfinal-part1-div li a:hover{
        text-decoration: underline;
        text-decoration-thickness: 1px;
        color: black;
    }
    .bfinal-part1-logoicon li{
        list-style-type: none;
        display: inline-block;
        padding: 5px;
    }
    .bfinal-part2{
        display: flex;
        flex-direction: column;
        align-items: center;
        /* height: 60px;    */
    }
    .bfinal-part2-footer{
        display: flex;
        justify-content:center;
    }
    .collection-img{
        width: 100%;
        height: 200px;
    }


    
}

